DB_PORT = puerto
DB_HOST = dominio
DB_USER = usuario
DB_PASS = "lacontraseña"
DB_NAME = alquicardb
PORT = puerto_del_back
JWT_SECRET=secreto_de_jwt
EMAIL_USER="correo_desde_el_que_se_envia"
EMAIL_PASS="contraseña"